.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand{:href => "#"}= "Koala"
      %form.navbar-search.pull-left
        %input.search-query{:type => "text", :placeholder => "搜索"}
      %ul.nav.pull-right
        -unless current_user
          %li= link_to "注册", new_user_registration_path
          %li= link_to "登录", new_user_session_path
        -if current_user
          %li= link_to "退出", destroy_user_session_path
